{% extends 'bootstrap/base.html' %}
{% block content %}

    <div class="container">
        <div class="jumbotron text-center">
            <h2>Natural Language Processing App</h2>
        </div>
    </div>
    
    <div class="container">
        <form action="{{url_for('analyze')}}" method="POST">
            <textarea name="rawtext" id="" cols="3" rows="3" class="form-control"></textarea>    
            <input type="submit" name="" value="Submit" class="btn btn-primary">
            <input type="reset" name="" value="Clear" class="btn btn-outline-primary">
            <a href="{{url_for('index')}}" type="button" class="btn btn-danger">Reset</a>
        </form>
    </div>
    
{% endblock %}